* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #000;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(14, 48, 90, 0.4);
  backdrop-filter: blur(10px);
  z-index: 1000;
 
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo .imagelogo {
  width: 24px;
  height: auto;
}

.menu-toggle ul:hover .li {
  display: block;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  grid-area: menu;
  right: 20px;

}


.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}
.nav-links li {
  position: relative;
}
.nav-links a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  padding: 5px 10px;
  display: block;
}

.nav-links a:hover {
  color: #8cf0c0;
  
}


.nav-links li:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  box-sizing: 35px;
    top: 28px;
  left: 35px;

  background: #ffffff;
    border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
}

.dropdown-menu .dropdown li {
  
    display: block;
    padding: 10px 20px;
   
}

.dropdown-menu .dropdown a {
  color: #000000;
  white-space: nowrap;
}
.dropdown-menu .dropdown a:hover {
  background: #005f56;
}


.btn {
  background: #a8ff60;
  color: #000;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #8cf0c0;
}


.hero {
  height: 100vh;
  background: url("work.jpeg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
}

.hero-content {
  position: relative;
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 600;
}

.hero h1 span {
  font-style: italic;
}

.highlight {
  background: #00796b;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 500;
  font-size: larger;
}

.desc {
  margin-top: 20px;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #d0d0d0;
}

.buttons {
  margin: 25px;
  display: flex;
  gap: 20px;
}

.btn.primary {
  background: #a8ff60;
  color: #000;

  &.btn.primary:hover {
    background: #20bfb7;
  }

}


  .btn.secondary {
  background: transparent;
  color: #ffffff;

    &.btn.secondary:hover {
        background: #0dd1dc;
        color: #000;
    }
}

footer {
  background: #fff;
  color: #000;
  padding: 60px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.footer-logo h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.column h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.column a {
  display: block;
    text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  margin-bottom: 6px;
  transition: 0.3s;
  
}

.column a:hover {
  color: #00796b;
 text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 0.9rem;
font-size: 14px;
}

.footer-bottom .social img {
  width: 35px;
}


.policy a {
  text-decoration: none;
  color: #555;
  margin-left: 15px;
}

.policy a:hover {
  color: #00796b;
}

@media (max-width: 786px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    
  }

  .nav-links {
    display: none;
  }
.btn{
  display: none;
}
  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
  }

  .hero {
    padding: 0 30px;
    text-align: center;
    justify-content: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
